<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Action Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Human Action Recognition</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Predict</button>
        </form>
        <div id="result"></div>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').innerText = 'Predicted Action: ' + result.class_label;
        });
    </script>
</body>
</html>
